@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="gioiThieu">
        <p>
            <center><h2>Giới thiệu về thương hiệu Torano</h2></center>
            Vào năm 2015, Torano chính thức được thành lập bởi công ty CP đầu tư T&L Việt Nam. Sau nhiều năm hoạt động và phát triển, đến nay, Torano đã có cho mình 30 cửa hàng chi nhánh khắp cả nước để phục vụ cho khách hàng trên toàn quốc.
            Để phát triển và cạnh tranh trong thị trường đang nhộn nhịp như hiện nay, Torano đã cố gắng trong việc kinh doanh, cho ra mắt những sản phẩm chất lượng nhất.
        </p>
        <center><img src="https://hanoitoplist.com/wp-content/uploads/2020/09/gioi-thieu-thuong-hieu-torano-hanoitoplist.jpg" alt=""></center>
        <p>Torano luôn đầu tư mạnh về đội ngũ kinh doanh, thiết kế để cho ra những sản phẩm quần áo đẹp mắt. Chất liệu vải được ưu tiên hàng đầu, cửa hàng luôn tìm những loại vải mềm, thoáng mát, thoải mái khi mặc. Form dáng may chuẩn size, là hàng VNXK nên đường may đều tỉ mỉ, gọn gàng. <br>  <br>
        Torano luôn cập nhật những xu hướng thời trang phái mạnh nhanh nhất, cho ra những mẫu sản phẩm lập tức mới nhất để khách hàng luôn sở hữu được sản phẩm đẹp, chất lượng, phù hợp với trend.
        <br>
        Những cửa hàng của Torano nếu được trang trí thu hút ánh mắt của nhiều người đi ngang qua. Cách sắp xếp sản phẩm gọn gàng, rõ ràng, dễ dàng tìm kiếm. Ngoài ra, việc đầu tư đào tạo nhân viên bán hàng chuyên nghiệp là điểm cộng lớn của Torano.</p>
        <div class="ttLienHe">
            <h4>Thông tin liên hệ</h4>
            Địa chỉ: Phòng 803-812, Tầng 8, Tòa nhà 315 Trường Chinh, Phường Khương Mai, Quận Thanh Xuân, Hà Nội. <br>
            Website: torano.vn
        </div>
        <center><iframe width="1200" height="600" src="https://www.youtube.com/embed/TlBQtj86Ii0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe></center>
        <p>
            <h4>Tầm nhìn: </h4>
            - Xây dựng một doanh nghiệp vững mạnh về tài chính và vững chãi về đời sống tinh thần.<br>
            - Doanh nghiệp hạnh phúc và phụng sự, góp phần xây dựng xã hội phồn vinh.<br>
            - Phủ sóng tất cả các tỉnh/ thành phố lớn tại Việt Nam cung cấp các sản phẩm giá tốt, mang lại sự an tâm, tin tưởng và các trải nghiệm hài lòng cho khách hàng.<br><br>
            
            <h4>Cam kết của công ty</h4>
            - Đem đến cho khách hàng các sản phẩm giá tốt, mang lại sự an tâm, tin tưởng.<br>
            - Đem đến cho nhân viên một môi trường làm việc thân thiện, có nhiều cơ hội phát triển.<br>
            - Đem đến cho quản lý một sân chơi công bằng để thể hiện, đảm bảo cuộc sống sung túc.<br>
            - Đem đến cho mọi đối tác sự hợp tác chặt chẽ, tôn trọng lẫn nhau & đôi bên cùng phát triển.<br><br>


            <h4>Mục tiêu hướng tới</h4>
            - Phát triển cá nhân: Tạo ra môi trường bình đẳng cho các thành viên phát huy năng lực cá nhân & có một đời sống đầy đủ, sung túc cả về vật chất lẫn đời sống tinh thần.<br>
            - Môi trường làm việc: Xây dựng môi trường làm việc đoàn kết, thương yêu nhau trên giá trị cốt lõi của tình huynh đệ.<br>
            - Đóng góp xã hội: Tạo ra hàng ngàn việc làm, đóng thuế đầy đủ. Tích cực tham gia các hoạt động thiện nguyện, cứu trợ các hoàn cảnh khó khăn trong xã hội..<br>
        </p>
    </div>
</div>

