@model Assignment.Models.User_Model

@{
    ViewData["Title"] = "DetailUser";
}
<img src="~/img/logo.png" style="border-radius:100%; width:100px; height:100px;">
<h5>@Model.UserName</h5>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Họ và tên
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-1">
        @using (Html.BeginForm("EditPass", "User"))
        {
            <button class="btn btn-primary" style="background-color:black; border:none;">Đổi mật khẩu</button>
        }
    </div>
    <div class="col-md-1">
        @using (Html.BeginForm("Logout", "User"))
        {
            <button class="btn btn-primary" style="background-color:black; border:none;">Đăng xuất</button>
        }
    </div>
    
</div>
