@model Assignment.Models.User_Model

@{
    ViewData["Title"] = "Signup";
}

<center><h1>Đăng ký</h1></center>
@if (TempData["AlertMessage"] != null)
{
        <div style="margin:auto;max-width:420px" id="AlertBox" class="alert @TempData["Type"] hide" role="alert">
                <center>@TempData["AlertMessage"]</center>
        </div>
}
<div class="row">
    <div class="col-md-4" style="margin:auto;">
        <form asp-action="Signup">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Tên đầy đủ</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Tên đăng nhập</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Mật khẩu</label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Nhập lại mật khẩu</label>
                <input name="confirmPassword" class="form-control" required/>
            </div>
            <div class="form-group" style="margin:10px;">
                <input type="submit" value="Đăng ký" class="btn btn-primary" style="background-color:black; border:none;"/>
            </div>
        </form>
    </div>
</div>
<script>
    $(function () {           
        $('#AlertBox').removeClass('hide');
        $('#AlertBox').delay(2000).slideUp(500);
    });

</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
