* {
margin: 0%;
padding: 0%;
}

.container-fluid {
padding-left: 0%;
padding-right: 0%;
}

ul {
list-style-type: none;
}

.sizeImg {
max-width: 300px;
height: auto;
}

.backgrNav2 {
background-color: black;
height: 80px;
}

.searchInput {
/* -webkit-border-radius: 22px;
-moz-border-radius: 22px; */
/* border-radius: 22px; */
background-color: #fefefe;
border: solid 1px #a7a7a7;
padding: 8px 0 8px 15px;
width: 100%;
}

.navbar-brand {
padding-left: 50px;
font-weight: 700;
}

.img-logo {
filter: invert(1);
width: 250px;
padding-left: 50px;
}

.btnSearch {
font-size: 0;
border: none;
background: url(https://torano.vn/tp/T0298/img/tmp/search.svg);
width: 22px;
height: 22px;
position: absolute;
top: 30px;
right: 25px;
}

.nav-item > a {
display: block;
/* font-size: 15px; */
padding: 20px 0;
/* margin: 0 11px; */
/* position: relative; */
text-transform: uppercase;
font-weight: 700;
color: white;
}

.navbar-nav {
margin: auto;
}

.nav-item > a:hover {
color: red;
}

div {
display: block;
}

.nav1 {
position: relative;
height: 30px;
background-color: #f2eeee;
border: 1px solid #f2eeee;
display: block;
width: 100%;
}

.nav1 div ul li {
display: inline-block;
}

.nav1 div ul {
margin-bottom: 0px;
}

.nav1-left {
width: 50%;
float: left;
}

.nav1-text {
line-height: 0px;
text-decoration: none;
color: rgb(90, 86, 86);
font-size: small;
}

.nav1-right {
width: 50%;
float: left;
}

.nav1-right ul {
float: right;
padding-right: 30px;
}



footer {
display: table;
width: 100%;
margin-top: 50px;
margin-bottom: 0%;
}

.lienHe {
width: 100%;
float: left;
border-top: 3px solid rgb(180, 180, 180);
border-bottom: 3px solid rgb(185, 185, 185);
margin-bottom: 30px;
padding-bottom: 20px;
}

.col-md-3 {
float: left;
padding-right: 20px;
}

.col-md-2 {
float: left;
}

.col-md-9 {
float: left;
}

.mua {
width: 100%;
height: 80%;
margin-top: 20px;
padding: 10px;
float: left;
border: 3px solid rgb(185, 185, 185);
border-radius: 5px;
}

.mua a {
padding: 15px;
margin: 0%;
font-size: xx-large;
text-decoration: none;
font-weight: 700;
color: rgb(0, 62, 248);
}

.col-md-6 {
float: left;
}

.gmail {
float: left;
padding-top: 20px;
}

.gmail label {
font-size: larger;
font-weight: 600;
}

.gmail input {
margin-top: 5px;
width: 80%;
float: left;
}

.gmail button {
margin-top: 5px;
height: 35px;
padding-left: 10px;
padding-right: 10px;
border-radius: 5px;
color: #fefefe;
background-color: black;
}


.col1 {
padding-left: 20px;
}

.footer2 {
width: 100%;
}

.footer2 h4 {
font-size: larger;
font-weight: 700;
}

.col2-3 {
padding-left: 20px;
}

.col2-3 ul {
padding-left: 0%;
}

.col2-3 li {
padding-bottom: 15px;
}

.col2-3 a {
text-decoration: none;
color: black;
}

/* ========================== */

.sec-category {
float: left;
display: table;
}

.sec-category-menu {
display: block;
height: 100%;
float: left;
}

.sec-category-menu button {
border: none;
}

.sec-category-menu label {
margin-left: 5px;
color: #fefefe;
font-size: 18px;
font-weight: 500;
}

.sec-category-down {
background-color: rgb(1, 2, 1);
}

.sec-category-menu-div {
padding:0;
display: block;
}

.sec-category-menu-div a {
text-decoration: none;
text-align: left;
color: black;
font-size: larger;
}

.sec-category-menu-div li {
line-height: 38px;
}

.sec-category-rau {
margin-top: 30px;
width: 100%;
}

.sec-sp {
width: 100%;
float: left;
display: block;
}
/* ============================== */

.sapXep {
margin-right: 28px;
float: right;
}

.sapXep select {
border: none;
background-color: #fefefe;
font-size: small;
font-weight: 100;
}

.loc {
font-size: 15px;
margin-bottom: 30px;
}

.loc label {
float: left;
margin-right: 20px;
}

.dropdown-toggle {
margin-right: 50px;
text-decoration: none;
color: black;
font-weight: 600;
}

.matHang {
margin-top: 20px;
display: table;
padding: 10px;
height: auto;
width: 100%;
}

.list-sp-form {
margin-bottom: 30px;
}

.sp {
padding-right: 20px;
float: left;
padding-bottom: 20px;
}

.sp :hover {
background-color: #a0a0a0;
}

.sp-form {
width: 100%;
height: 500px;
display: block;
}

.mota {
width: 100%;
height: 100px;
}

.mota strong {
color: red;
font-size: 20px;
margin-right: 20px;
text-decoration-line: none;
}

.mota span {
text-decoration: line-through;
font-size: 20px;
color: #a7a7a7;
}

.mota p {
color: red;
text-align: center;
}

.mota a {
text-decoration: none;
color: black;
}

.sp-form label {
text-decoration: none;
width: 100%;
color: black;
font-size: 24px;
font-weight: 400;
}

.sp-form img {
    width: 100%;
    height:400px;
}